In [1]:
import pandas as pd
import re 
import numpy as np

In [2]:
# 1 Examining data for potential issues 
# Understanding 
df=pd.read_csv("GSAF5.csv", encoding = "ISO-8859-1")
display(df.head())

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [3]:
# 1 Examining data for potential issues 
print(df.shape)
#How many rows and columns are in the database?

(5992, 24)

In [4]:
# 1 Examining data for potential issues 
# How the computer transcribes names of columns?
print(df.columns)

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [5]:
# 1 Examining data for potential issues 
# Understand how data is it interpreted as types
df.dtypes

Case Number               object
Date                      object
Year                       int64
Type                      object
Country                   object
Area                      object
Location                  object
Activity                  object
Name                      object
Sex                       object
Age                       object
Injury                    object
Fatal (Y/N)               object
Time                      object
Species                   object
Investigator or Source    object
pdf                       object
href formula              object
href                      object
Case Number.1             object
Case Number.2             object
original order             int64
Unnamed: 22               object
Unnamed: 23               object
dtype: object

In [6]:
#2 Delete unnecesary information
# How many null columns are there?

null_cols = df.isnull().sum()
null_cols

Case Number                  0
Date                         0
Year                         0
Type                         0
Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
pdf                          0
href formula                 1
href                         3
Case Number.1                0
Case Number.2                0
original order               0
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

In [7]:
#2 Delete unnecesary information
# Delete unnamed columns 22,23 because they do not add any information, probably a mistake 

df1 = df.drop(["Unnamed: 22", "Unnamed: 23"], axis=1) 
display(df1.head())

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,N,NaN,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,N,NaN,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989

In [8]:
#2 Delete unnecesary information
# Delete columns:

# Age, Time and Species due to the amount of missing information about each indicator
# Case Number, Case Number.1, Case Number.2, Date, Name, Sex, Fatal (Y/N), Injury, Investigator or Source not relevant for analysis
# pdf, href formula, href, original order not relevant for analysis

'''
Reminder : Name of columns
'Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order',
'''    
    
df2 = df1.drop(['Case Number', 'Date','Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time', 'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href', 'Case Number.1', 'Case Number.2', 'original order'], axis=1) 
display(df2.head())

,Year,Type,Country,Area,Location,Activity
0,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing
1,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing
2,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing
3,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing
4,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing

In [9]:
#2 Analysis nature of selected columns
# Understand Type column

# Count number of invalid fields from Type of attack 

invalid = df2[(df2['Type']=='Invalid')]
print('Number of invalids:', len(invalid))

Number of invalids: 519

In [10]:
#3 Delete unnecesary information
# Display invalid rows

invalid.head()

,Year,Type,Country,Area,Location,Activity
50,2016,Invalid,USA,South Carolina,"Folly Beach, Charleston County",Surfing
73,2016,Invalid,CAPE VERDE,Boa Vista Island,NaN,NaN
75,2016,Invalid,USA,Florida,"Corners Beach, Jupiter, Palm Beach County",SUP
81,2016,Invalid,USA,California,"Bolsa Chica State Park, Orange County",Surfing
90,2016,Invalid,CAYMAN ISLANDS,Grand Cayman,Stingray City Bar,Feeding stingrays?

In [11]:
#3 Analysis nature of selected columns
# Column Type

# Remove invalid fields from Type column
# All the fields have relevant data apart from invalid ones

invalid_rows=df2[df2["Type"]== 'Invalid']
invalid_rows.index
invalid_rows

df3=df2.drop(invalid_rows.index)

In [12]:
#3 Analysis nature of selected columns
# Column Type
# How many fields are there for boat, boating and sea disaster? 

Boat_rows = df3[(df3['Type']=='Boat')]
print('Number of Boats:', len(Boat_rows))

Boating_rows = df3[(df3['Type']=='Boating')]
print('Number of Boating:', len(Boating_rows))

SeaDisaster_rows = df3[(df3['Type']=='Sea Disaster')]
print('Number of Sea Disaster:', len(Boating_rows))

Number of Boats: 200
Number of Boating: 110
Number of Sea Disaster: 110

In [17]:
#3 Analysis nature of selected columns
# Column Type
#Change Boating for Boat 

def Clean_names(TypeName):
    if re.search('ing', TypeName):
        pos= re.search('ing', TypeName).start()
        return TypeName[:pos]
    else:
        return TypeName

df3["Type"]=df3["Type"].apply(Clean_names)
print(df3)
display(df3)

#Duda why I cannot rename df3 in df4?

      Year        Type             Country               Area  \
0     2016  Unprovoked                 USA            Florida
1     2016  Unprovoked                 USA            Florida
2     2016  Unprovoked                 USA            Florida
3     2016  Unprovoked           AUSTRALIA           Victoria
4     2016  Unprovoked           AUSTRALIA           Victoria
...    ...         ...                 ...                ...
5987     0  Unprovoked           AUSTRALIA  Western Australia
5988     0  Unprovoked           AUSTRALIA  Western Australia
5989     0  Unprovoked                 USA     North Carolina
5990     0  Unprovoked              PANAMA                NaN
5991     0  Unprovoked  CEYLON (SRI LANKA)   Eastern Province

                                 Location      Activity
0        New Smyrna Beach, Volusia County       Surfing
1        New Smyrna Beach, Volusia County       Surfing
2        New Smyrna Beach, Volusia County       Surfing
3                        Thirteenth Beach       Surfing
4                             Bells Beach       Surfing
...                                   ...           ...
5987                          Roebuck Bay        Diving
5988                                  NaN  Pearl diving
5989                       Ocracoke Inlet      Swimming
5990                 Panama Bay 8ÂºN, 79ÂºW           NaN
5991  Below the English fort, Trincomalee      Swimming

[5473 rows x 6 columns]

,Year,Type,Country,Area,Location,Activity
0,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing
1,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing
2,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing
3,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing
4,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing
...,...,...,...,...,...,...
5987,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving
5988,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving
5989,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming
5990,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ÂºN, 79ÂºW",NaN
5991,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming

In [14]:
#3 Analysis nature of selected columns
# Column Type
# check if Boating was replaced by Boat
check = df3[df3['Type']== 'Boating'] 
  
print(check) 

# Dudas is this working?

Empty DataFrame
Columns: [Year, Type, Country, Area, Location, Activity]
Index: []

In [15]:
#3 Analysis nature of selected columns
# Column Year

#3 Analysis nature of selected columns
# Column Year

print('\n.Unique values in column Year:', df3.Year.unique())

.Unique values in column Year: [2016 2015 2014 2013 2012 2011 2010 2009 2008 2007 2006 2005 2004 2003
 2002 2001 2000 1999 1998 1997 1996 1995 1984 1994 1993 1992 1991 1990
 1989 1988 1987 1986 1985 1983 1982 1981 1980 1979 1978 1977 1976 1975
 1974 1973 1972 1971 1970 1969 1968 1967 1966 1965 1964 1963 1962 1961
 1960 1959 1958 1957 1956 1955 1954 1953 1952 1951 1950 1949 1948 1848
 1947 1946 1945 1944 1943 1942 1941 1940 1939 1938 1937 1936 1935 1934
 1933 1932 1931 1930 1929 1928 1927 1926 1925 1924 1923 1922 1921 1920
 1919 1918 1917 1916 1915 1914 1913 1912 1911 1910 1909 1908 1907 1906
 1905 1904 1903 1902 1901 1900 1899 1898 1897 1896 1895 1894 1893 1892
 1891 1890 1889 1888 1887 1886 1885 1884 1883 1882 1881 1880 1879 1878
 1877 1876 1875 1874 1873 1872 1871 1870 1869 1868 1867 1865 1864 1863
 1862 1861 1860 1859 1858 1856 1855 1854 1853 1852 1851 1850 1849 1847
 1846 1845 1844 1842 1841 1840 1839 1837 1836 1835 1834 1832 1830 1829
 1828 1827 1826 1825 1822 1817 1816 1812 1811 1807 1804 1803 1800 1791
 1788 1787 1785 1779 1776 1771 1764 1758 1749 1755 1748 1742 1738 1721
 1703 1700 1638 1637 1617 1642 1595 1580 1555 1554 1543  500   77    5
    0]

In [16]:
#3 Analysis nature of selected columns
# Column Year

# Remove unwanted fields (years 1791 1788 1787 1785 1779 1776 1771 1764 1758 1749 1755 1748 1742 1738 1721
 1703 1700 1638 1637 1617 1642 1595 1580 1555 1554 1543 500 77 5 0]

IndentationError: unexpected indent (<ipython-input-16-6209de639d78>, line 5)

In [ ]:
#3 Analysis nature of selected columns
# Column Country

# Delete rows without information 

#blank_rows=df3[df3["Country"]=='NaN']
#blank_row.index
#blank_rows

#df4=df3.drop(blank_rows.index)

In [19]:
#3 Analysis nature of selected columns
# Column Country

# Check how many unique values are in column country 

print('\n.Unique values in column Country:', df3.Country.unique())

c=df3.Country.unique()

print('\n.Type of data:', type(c))

# Sorting unique columns in alphabetically order

# c['Country'].value_counts()

#c["Country"].value_counts().sort_values()

# Dudas not working sorting alphabetically b=c.tolist(), b.sort()

.Unique values in column Country: ['USA' 'AUSTRALIA' 'NEW CALEDONIA' 'REUNION' 'BAHAMAS' 'SPAIN' 'CHINA'
 'JAPAN' 'COLUMBIA' 'SOUTH AFRICA' 'EGYPT' 'NEW ZEALAND' 'INDONESIA'
 'FRENCH POLYNESIA' 'Fiji' 'BRAZIL' 'DOMINICAN REPUBLIC'
 'UNITED ARAB EMIRATES' 'ARUBA' 'MOZAMBIQUE' 'THAILAND' 'FIJI'
 'PUERTO RICO' 'MEXICO' 'ATLANTIC OCEAN' 'GREECE' 'MAURITIUS' 'ST. MARTIN'
 'FRANCE' 'ECUADOR' 'PAPUA NEW GUINEA' 'TRINIDAD & TOBAGO' 'KIRIBATI'
 'ISRAEL' 'DIEGO GARCIA' 'TAIWAN' 'PALESTINIAN TERRITORIES' 'GUAM'
 'SEYCHELLES' 'BELIZE' 'JAMAICA' 'PHILIPPINES' 'NIGERIA' 'TONGA'
 'SCOTLAND' 'ITALY' 'CHILE' 'KENYA' 'RUSSIA' 'TURKS & CAICOS' 'COSTA RICA'
 'UNITED KINGDOM' 'MALAYSIA' 'SAMOA' 'AZORES' 'SOLOMON ISLANDS'
 'SOUTH KOREA' 'MALTA' 'VIETNAM' 'MADAGASCAR' 'UNITED ARAB EMIRATES (UAE)'
 'PANAMA' 'SOMALIA' 'CUBA' 'CROATIA' 'ENGLAND' 'NORWAY' 'YEMEN'
 'GULF OF ADEN' 'Sierra Leone' 'ST. MAARTIN' 'GRAND CAYMAN' 'VANUATU'
 'MEXICO ' 'VENEZUELA' ' TONGA' 'URUGUAY' 'INDIA' 'MICRONESIA'
 'CARIBBEAN SEA' 'CANADA' 'OKINAWA' 'TANZANIA' 'MARSHALL ISLANDS'
 'SENEGAL' 'EGYPT / ISRAEL' 'NORTHERN ARABIAN SEA' 'HONG KONG'
 'EL SALVADOR' 'ANGOLA' 'IRAN' nan 'TUNISIA' 'NAMIBIA' 'BERMUDA'
 'NORTH ATLANTIC OCEAN' 'SOUTH CHINA SEA' 'BANGLADESH' 'PALAU'
 'WESTERN SAMOA' 'PACIFIC OCEAN ' 'BRITISH ISLES' 'GRENADA' 'SRI LANKA'
 'IRAQ' 'TURKEY' 'SINGAPORE' 'NEW BRITAIN' 'SUDAN' 'JOHNSTON ISLAND'
 'SOUTH PACIFIC OCEAN' 'NEW GUINEA' 'RED SEA' 'NORTH PACIFIC OCEAN'
 'FEDERATED STATES OF MICRONESIA' 'MID ATLANTIC OCEAN' 'ADMIRALTY ISLANDS'
 'BRITISH WEST INDIES' 'SOUTH ATLANTIC OCEAN' 'PERSIAN GULF'
 'RED SEA / INDIAN OCEAN' 'PACIFIC OCEAN' 'NORTH SEA' 'NICARAGUA '
 'MALDIVE ISLANDS' 'AMERICAN SAMOA' 'ANDAMAN / NICOBAR ISLANDAS' 'GABON'
 'MAYOTTE' 'PORTUGAL' 'NORTH ATLANTIC OCEAN ' 'MONTENEGRO' 'THE BALKANS'
 'SUDAN?' 'ARGENTINA' 'MARTINIQUE' 'INDIAN OCEAN' 'NETHERLANDS ANTILLES'
 'LIBERIA' 'SAUDI ARABIA' 'NORTHERN MARIANA ISLANDS' 'IRAN / IRAQ' 'JAVA'
 'SIERRA LEONE' ' PHILIPPINES' 'NICARAGUA' 'CENTRAL PACIFIC'
 'SOLOMON ISLANDS / VANUATU' 'SOUTHWEST PACIFIC OCEAN' 'BAY OF BENGAL'
 'MID-PACIFC OCEAN' 'SLOVENIA' 'CURACAO' 'BARBADOS' 'CAPE VERDE'
 'HONDURAS' 'MONACO' 'GUYANA' 'HAITI' 'SAN DOMINGO' 'IRELAND' 'KUWAIT'
 'LIBYA' 'YEMEN ' 'FALKLAND ISLANDS' 'CRETE' 'CYPRUS' 'EGYPT ' 'BURMA'
 'LEBANON' 'PARAGUAY' 'BRITISH NEW GUINEA' 'OCEAN' 'GEORGIA' 'TUVALU'
 'INDIAN OCEAN?' 'GUINEA' 'EQUATORIAL GUINEA / CAMEROON' 'COOK ISLANDS'
 'ALGERIA' 'Coast of AFRICA' 'TASMAN SEA' 'GHANA' 'St Helena' 'GREENLAND'
 'MEDITERRANEAN SEA' 'SWEDEN' 'Between PORTUGAL & INDIA' 'DJIBOUTI'
 'BAHREIN' 'KOREA' 'RED SEA?' 'ASIA?' 'CEYLON (SRI LANKA)']

.Type of data: <class 'numpy.ndarray'>

In [18]:
#3 Analysis nature of selected columns
# Column Country

#df4=df3[df3.Country != 'ATLANTIC OCEAN] esta fÃ³rmula funciona uno a uno


delete_rows = df3[(df3['Country'] == 'ATLANTIC OCEAN') & (df3['Country'] == 'GULF OF ADEN') & (df3['Country'] == 'CARIBBEAN SEA')]
print(delete_rows.index)
delete_rows
df4=df3.drop(delete_rows.index)

print('\n.Unique values in column Country:', df4.Country.unique())

# Not deleting rows!!!

Int64Index([], dtype='int64')

.Unique values in column Country: ['USA' 'AUSTRALIA' 'NEW CALEDONIA' 'REUNION' 'BAHAMAS' 'SPAIN' 'CHINA'
 'JAPAN' 'COLUMBIA' 'SOUTH AFRICA' 'EGYPT' 'NEW ZEALAND' 'INDONESIA'
 'FRENCH POLYNESIA' 'Fiji' 'BRAZIL' 'DOMINICAN REPUBLIC'
 'UNITED ARAB EMIRATES' 'ARUBA' 'MOZAMBIQUE' 'THAILAND' 'FIJI'
 'PUERTO RICO' 'MEXICO' 'ATLANTIC OCEAN' 'GREECE' 'MAURITIUS' 'ST. MARTIN'
 'FRANCE' 'ECUADOR' 'PAPUA NEW GUINEA' 'TRINIDAD & TOBAGO' 'KIRIBATI'
 'ISRAEL' 'DIEGO GARCIA' 'TAIWAN' 'PALESTINIAN TERRITORIES' 'GUAM'
 'SEYCHELLES' 'BELIZE' 'JAMAICA' 'PHILIPPINES' 'NIGERIA' 'TONGA'
 'SCOTLAND' 'ITALY' 'CHILE' 'KENYA' 'RUSSIA' 'TURKS & CAICOS' 'COSTA RICA'
 'UNITED KINGDOM' 'MALAYSIA' 'SAMOA' 'AZORES' 'SOLOMON ISLANDS'
 'SOUTH KOREA' 'MALTA' 'VIETNAM' 'MADAGASCAR' 'UNITED ARAB EMIRATES (UAE)'
 'PANAMA' 'SOMALIA' 'CUBA' 'CROATIA' 'ENGLAND' 'NORWAY' 'YEMEN'
 'GULF OF ADEN' 'Sierra Leone' 'ST. MAARTIN' 'GRAND CAYMAN' 'VANUATU'
 'MEXICO ' 'VENEZUELA' ' TONGA' 'URUGUAY' 'INDIA' 'MICRONESIA'
 'CARIBBEAN SEA' 'CANADA' 'OKINAWA' 'TANZANIA' 'MARSHALL ISLANDS'
 'SENEGAL' 'EGYPT / ISRAEL' 'NORTHERN ARABIAN SEA' 'HONG KONG'
 'EL SALVADOR' 'ANGOLA' 'IRAN' nan 'TUNISIA' 'NAMIBIA' 'BERMUDA'
 'NORTH ATLANTIC OCEAN' 'SOUTH CHINA SEA' 'BANGLADESH' 'PALAU'
 'WESTERN SAMOA' 'PACIFIC OCEAN ' 'BRITISH ISLES' 'GRENADA' 'SRI LANKA'
 'IRAQ' 'TURKEY' 'SINGAPORE' 'NEW BRITAIN' 'SUDAN' 'JOHNSTON ISLAND'
 'SOUTH PACIFIC OCEAN' 'NEW GUINEA' 'RED SEA' 'NORTH PACIFIC OCEAN'
 'FEDERATED STATES OF MICRONESIA' 'MID ATLANTIC OCEAN' 'ADMIRALTY ISLANDS'
 'BRITISH WEST INDIES' 'SOUTH ATLANTIC OCEAN' 'PERSIAN GULF'
 'RED SEA / INDIAN OCEAN' 'PACIFIC OCEAN' 'NORTH SEA' 'NICARAGUA '
 'MALDIVE ISLANDS' 'AMERICAN SAMOA' 'ANDAMAN / NICOBAR ISLANDAS' 'GABON'
 'MAYOTTE' 'PORTUGAL' 'NORTH ATLANTIC OCEAN ' 'MONTENEGRO' 'THE BALKANS'
 'SUDAN?' 'ARGENTINA' 'MARTINIQUE' 'INDIAN OCEAN' 'NETHERLANDS ANTILLES'
 'LIBERIA' 'SAUDI ARABIA' 'NORTHERN MARIANA ISLANDS' 'IRAN / IRAQ' 'JAVA'
 'SIERRA LEONE' ' PHILIPPINES' 'NICARAGUA' 'CENTRAL PACIFIC'
 'SOLOMON ISLANDS / VANUATU' 'SOUTHWEST PACIFIC OCEAN' 'BAY OF BENGAL'
 'MID-PACIFC OCEAN' 'SLOVENIA' 'CURACAO' 'BARBADOS' 'CAPE VERDE'
 'HONDURAS' 'MONACO' 'GUYANA' 'HAITI' 'SAN DOMINGO' 'IRELAND' 'KUWAIT'
 'LIBYA' 'YEMEN ' 'FALKLAND ISLANDS' 'CRETE' 'CYPRUS' 'EGYPT ' 'BURMA'
 'LEBANON' 'PARAGUAY' 'BRITISH NEW GUINEA' 'OCEAN' 'GEORGIA' 'TUVALU'
 'INDIAN OCEAN?' 'GUINEA' 'EQUATORIAL GUINEA / CAMEROON' 'COOK ISLANDS'
 'ALGERIA' 'Coast of AFRICA' 'TASMAN SEA' 'GHANA' 'St Helena' 'GREENLAND'
 'MEDITERRANEAN SEA' 'SWEDEN' 'Between PORTUGAL & INDIA' 'DJIBOUTI'
 'BAHREIN' 'KOREA' 'RED SEA?' 'ASIA?' 'CEYLON (SRI LANKA)']

In [20]:
#4 Validating hypothesis
# Calculating countries where most incidents happen

df3["Country"].value_counts()

# Australia is not the first country, where? second hypthosis New South Wales
# US is the country, where? second hypothesis Florida
# Reminder to remove data older than 1950s prior to complete the exercise

USA                     1933
AUSTRALIA               1166
SOUTH AFRICA             503
PAPUA NEW GUINEA         131
NEW ZEALAND              113
                        ...
BANGLADESH                 1
NORTHERN ARABIAN SEA       1
BRITISH ISLES              1
SWEDEN                     1
GREENLAND                  1
Name: Country, Length: 193, dtype: int64

In [21]:
#4Validating hypothesis

#Calculating where in the US is most common for incidents to happen

#Cleaning area column to perform analysis on state where incidents happen the most

#Create new dataframe with only country and area

g = df3[["Country","Area"]]

h=g[(g['Country']=='USA')]
display(h)

print('\n.Unique values in Area dataframe h:', h.Area.unique())

i=h.dropna()
display(i)

print('\n.Unique values in Area dataframe i:', i.Area.unique())

# Check null values from Area and Country were deleted

null_cols2 = i.isnull().sum()
null_cols2

# Delete 'North & South Carolina'

delete_fields=i[i["Area"]== 'North & South Carolina']
delete_fields.index
delete_fields

j=i.drop(delete_fields.index)

display(j)

print('\n.Unique values in Area dataframe j:', j.Area.unique())

     Country             Area
0        USA          Florida
1        USA          Florida
2        USA          Florida
6        USA          Florida
7        USA           Hawaii
...      ...              ...
5939     USA          Florida
5973     USA          Florida
5978     USA  North Carolina
5982     USA           Hawaii
5989     USA   North Carolina

[1933 rows x 2 columns]

.Unique values in Area dataframe h: ['Florida' 'Hawaii' 'South Carolina' 'California' 'Alabama'
 'Massachusetts' 'North Carolina' 'Texas' 'Maryland' 'Louisiana'
 'Delaware' 'Palmyra Atoll' 'Georgia' 'Oregon' 'New Jersey' 'Puerto Rico'
 'Maine' 'Virginia' 'New York' 'US Virgin Islands' 'Kentucky' 'Guam'
 'New Mexico' 'South Carolina ' 'Johnston Atoll' 'Alaska' 'Missouri'
 'Mississippi' 'Washington' 'Rhode Island' 'North & South Carolina'
 'Florida ' nan 'Pennsylvania' 'Connecticut' 'Wake Island'
 ' North Carolina' 'Midway Atoll' 'East coast' ' New Jersey' 'New York '
 'North Carolina ']

     Country             Area
0        USA          Florida
1        USA          Florida
2        USA          Florida
6        USA          Florida
7        USA           Hawaii
...      ...              ...
5939     USA          Florida
5973     USA          Florida
5978     USA  North Carolina
5982     USA           Hawaii
5989     USA   North Carolina

[1931 rows x 2 columns]

.Unique values in Area dataframe i: ['Florida' 'Hawaii' 'South Carolina' 'California' 'Alabama'
 'Massachusetts' 'North Carolina' 'Texas' 'Maryland' 'Louisiana'
 'Delaware' 'Palmyra Atoll' 'Georgia' 'Oregon' 'New Jersey' 'Puerto Rico'
 'Maine' 'Virginia' 'New York' 'US Virgin Islands' 'Kentucky' 'Guam'
 'New Mexico' 'South Carolina ' 'Johnston Atoll' 'Alaska' 'Missouri'
 'Mississippi' 'Washington' 'Rhode Island' 'North & South Carolina'
 'Florida ' 'Pennsylvania' 'Connecticut' 'Wake Island' ' North Carolina'
 'Midway Atoll' 'East coast' ' New Jersey' 'New York ' 'North Carolina ']

     Country             Area
0        USA          Florida
1        USA          Florida
2        USA          Florida
6        USA          Florida
7        USA           Hawaii
...      ...              ...
5939     USA          Florida
5973     USA          Florida
5978     USA  North Carolina
5982     USA           Hawaii
5989     USA   North Carolina

[1930 rows x 2 columns]

.Unique values in Area dataframe j: ['Florida' 'Hawaii' 'South Carolina' 'California' 'Alabama'
 'Massachusetts' 'North Carolina' 'Texas' 'Maryland' 'Louisiana'
 'Delaware' 'Palmyra Atoll' 'Georgia' 'Oregon' 'New Jersey' 'Puerto Rico'
 'Maine' 'Virginia' 'New York' 'US Virgin Islands' 'Kentucky' 'Guam'
 'New Mexico' 'South Carolina ' 'Johnston Atoll' 'Alaska' 'Missouri'
 'Mississippi' 'Washington' 'Rhode Island' 'Florida ' 'Pennsylvania'
 'Connecticut' 'Wake Island' ' North Carolina' 'Midway Atoll' 'East coast'
 ' New Jersey' 'New York ' 'North Carolina ']

In [31]:
# Change 'North Carolina ' for 'North Carolina'

#k=j.replace(to_replace=r'North\sCarolina\s', value='North Carolina', regex=True)
k=j.replace(to_replace=r'\sNorth', value='North', regex=True)

l=k.replace(to_replace=r'\w\s', value='KO', regex=True)

#m=l.replace(to_replace=r'Carolina\s', value='Carolina', regex=True)




#k=j.replace(to_replace=r'^Carolina\s.$', value='Carolina', regex=True)

type(k)


#print('\n.Unique values in Area dataframe k:',k.Area.unique())
print('\n.Unique values in Area dataframe k:',k.Area.unique())
print('\n.Unique values in Area dataframe l:',l.Area.unique())

.Unique values in Area dataframe k: ['Florida' 'Hawaii' 'South Carolina' 'California' 'Alabama'
 'Massachusetts' 'North Carolina' 'Texas' 'Maryland' 'Louisiana'
 'Delaware' 'Palmyra Atoll' 'Georgia' 'Oregon' 'New Jersey' 'Puerto Rico'
 'Maine' 'Virginia' 'New York' 'US Virgin Islands' 'Kentucky' 'Guam'
 'New Mexico' 'South Carolina ' 'Johnston Atoll' 'Alaska' 'Missouri'
 'Mississippi' 'Washington' 'Rhode Island' 'Florida ' 'Pennsylvania'
 'Connecticut' 'Wake Island' 'Midway Atoll' 'East coast' ' New Jersey'
 'New York ' 'North Carolina ']

.Unique values in Area dataframe l: ['Florida' 'Hawaii' 'SoutKOCarolina' 'California' 'Alabama'
 'Massachusetts' 'NortKOCarolina' 'Texas' 'Maryland' 'Louisiana'
 'Delaware' 'PalmyrKOAtoll' 'Georgia' 'Oregon' 'NeKOJersey' 'PuertKORico'
 'Maine' 'Virginia' 'NeKOYork' 'UKOVirgiKOIslands' 'Kentucky' 'Guam'
 'NeKOMexico' 'SoutKOCarolinKO' 'JohnstoKOAtoll' 'Alaska' 'Missouri'
 'Mississippi' 'Washington' 'RhodKOIsland' 'FloridKO' 'Pennsylvania'
 'Connecticut' 'WakKOIsland' 'MidwaKOAtoll' 'EasKOcoast' ' NeKOJersey'
 'NeKOYorKO' 'NortKOCarolinKO']

In [ ]:


lista= " North Carolina , North Carolina,North Carolina, Nevada, Australia, Austroplico"
lista1=re.sub("\sAus+", "KO", lista)
print(lista1)